<!DOCTYPE html>
<html lang="sv">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mörtfors Buss</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    
    
    

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    
    
        
   
 
      
    <!-- Navigation -->
    
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mörtfors Buss</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Start</a></li>
      <li><a href="/resor-sok">Sök resor</a></li>
     <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Registrera<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/kunder">Kunder</a></li>
          <li><a href="/chaufforer">Chaufförer</a></li>
          <li><a href="/stader">Städer</a></li>
          <li><a href="/resor-registrera">Resor</a></li>
          <li><a href="/kop">Köp</a></li>
     
        </ul>
      </li>
    </ul>
  </div>
</nav>
    
    

   
    
        <!-- -->
     <div class="container">
           
    <div class="row">
           
        <img src="{{url_for('static', filename='img/stadsregister/stadsregister1.jpg')}}"> 
        
        <!-- /.row -->
        
        
        
<button type="button" class="btn btn-primary btn-block" style="float:right; margin-top: 20px; margin-bottom: 20px;;" data-toggle="modal" data-target="#formModal">Registrera ny stad</button>
  
             
       
   
   
          

            
           </div> 
        </div> 
           
           <div class="container"> 
        <div class="row">
           

    
        
        
        

  <h2>Stadsregister</h2>
             
  <table class="table">
    <thead>
      <tr>
        <th>Land</th>
        <th>Stad</th>
        <th>Adress</th>
        
        
      </tr>
    </thead>
    <tbody>
       
      <tr>
          
        <td>{land}</td>
        <td>{stad}</td>
        <td>{adress}</td>
        
      </tr>
    
    </tbody>
  </table>
            
           

         </div>   
            
        </div> 
           
    

   
     


<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form method="post" action="/regstad">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registrera ny stad</h4>
      </div>
      <div class="modal-body">

    <div class="col-lg-6">
  <div class="form-group" >
    <label for="land">Land</label>
    <input type="text" class="form-control" name="land" placeholder="ex Sverige">
  </div>
      </div>
          
         <div class="col-lg-6">
  <div class="form-group" >
    <label for="stad">Stad</label>
    <input type="text" class="form-control" name="stad" placeholder="ex Malmö">
  </div>
      </div>
      <div class="col-lg-12">
  <div class="form-group" >
    <label for="adress">Adress</label>
    <input type="text" class="form-control" name="adress" placeholder="ex Storgatan 15">
  </div>
      </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
        <input type="submit" class="btn btn-primary" value="Spara" />
      </div>
        </form>
    </div>
  </div>
</div>
    
  
   
    <!-- jQuery Version 1.11.1 -->
   
   <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
   
    <!-- Bootstrap Core JavaScript -->
   
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    
     <script src="{{url_for('static', filename='js/jquery.tablesorter.js')}}"></script> 
     <script src="{{url_for('static', filename='js/script.js')}}"></script>
    
    
</body>

       
</html>