<!DOCTYPE html>
<html lang="sv">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mörtfors Buss</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    
    
    

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    
    
        
   
 
      
    <!-- Navigation -->
    
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mörtfors Buss</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Start</a></li>
      <li><a href="/resor-sok">Sök resor</a></li>
     <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Registrera<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/kunder">Kunder</a></li>
          <li><a href="/chaufforer">Chaufförer</a></li>
          <li><a href="/stader">Städer</a></li>
          <li><a href="/resor-registrera">Resor</a></li>
          <li><a href="/kop">Transaktioner</a></li>
     
        </ul>
      </li>
    </ul>
  </div>
</nav>
    
    

   
    
   <!-- Page Content -->
    <div class="container">

        <div class="row">
            
            <img src="{{url_for('static', filename='img/2326x800-Financing-2016-bre-imgtxt.jpg')}}"> 
           
       <form method="post" action="/kop" id="reset"></form>    
            
     
       

    
           
    <form method="post" action="/soka">
       
         <div class="form-group">
       <div class="col-lg-2">

        </div>

    <div class="col-lg-6">
        
   
    
    
    </div>
        <div class="col-lg-2">
             
                  
             </div>
    <div class="col-lg-2">
    
        
   
      
    </div>
        
        </div>
            

           
        </form>    
   
     
  
        </div>
        
        
        <div class="row">
            <div class="col-lg-12">
            
           
            <br/>
            
           
        
     </div>
     <div class="col-lg-12"> 
        
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form method="post" action="/kopa">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Köpa resa</h4>
      </div>
      <div class="modal-body">

    <div class="col-lg-6">
  <div class="form-group" >
    <label for="avgangsid">Avgångsid</label>
    <input type="text" class="form-control" name="avgangsid" placeholder="ex 15">
  </div>
      </div>
          
         <div class="col-lg-6">
  <div class="form-group" >
    <label for="koptaplatser">Antal platser</label>
    <input type="number" class="form-control" name="koptaplatser" placeholder="ex 4">
  </div>
      </div>
      
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
        <input type="submit" class="btn btn-primary" value="Spara" />
      </div>
        </form>
    </div>
  </div>
</div>
    </div>    
        </div>
        

        <div class="row">

  
 <h2>Transaktioner</h2>
  {% block content %}        
  <table class="table">
    <thead>
      <tr>
        <th>Transid</th>
        <th>Kundid</th>
        <th>Förnamn</th>
        <th>Efternamn</th>
        <th>Avgångsid</th>
        <th>Avgångsstad</th>
        <th>Ankomststad</th>
        <th>Avgångsdatum</th>
        <th>Ankomstdatum</th>
        <th>Avgång</th>
        <th>Ankomst</th>
        <th>Platser</th>
        
      </tr>
    </thead>
    <tbody>
      {% for kop in kop_register %}
      <tr>
          
        <td>{{kop[0]}}</td>
        <td>{{kop[1]}}</td>
        <td>{{kop[2]}}</td>
        <td>{{kop[3]}}</td>
        <td>{{kop[4]}}</td>
        <td>{{kop[5]}}</td>
        <td>{{kop[6]}}</td>
        <td>{{kop[7]}}</td>
        <td>{{kop[8]}}</td>
        <td>{{kop[9]}}</td>
        <td>{{kop[10]}}</td>
        <td>{{kop[11]}}</td>
      
          
      </tr>
      {% endfor %}
    </tbody>
  </table>
     {% endblock %}      
 </div>
    



 </div> 
    
  
   
    <!-- jQuery Version 1.11.1 -->
   
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
   
    <!-- Bootstrap Core JavaScript -->
   
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    
     <script src="{{url_for('static', filename='js/jquery.tablesorter.js')}}"></script> 
     <script src="{{url_for('static', filename='js/script.js')}}"></script>
    
</body>

       
</html>