<!DOCTYPE html>
<html lang="sv">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mörtfors Buss</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    
    
    

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    
    
        
   
 
      
    <!-- Navigation -->
    
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mörtfors Buss</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Start</a></li>
      <li><a href="/resor-sok">Sök resor</a></li>
     <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Registrera<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/kunder">Kunder</a></li>
          <li><a href="/chaufforer">Chaufförer</a></li>
          <li><a href="/stader">Städer</a></li>
          <li><a href="/resor-registrera">Resor</a></li>
          <li><a href="/kop">Transaktioner</a></li>
     
        </ul>
      </li>
    </ul>
  </div>
</nav>
    
    
  <!-- Page Content -->
    <div class="container">

        <div class="row">
            
            <img src="{{url_for('static', filename='img/sök-resa/sok-resa1.jpg')}}"> 
           
       <form method="post" action="/resor-registrera" id="reset"></form>    
            
     
       

    
           
    <form method="post" action="/soka">
       
         <div class="form-group">
       <div class="col-lg-2">
<select class="selectpicker form-control" name="searchSelect">
  <optgroup>
    <option value="avgangsland">Avgångsland</option>
    <option value="avgangsstad">Avgångsstad</option>
    </optgroup>
    <optgroup>
    <option value="ankomstland">Ankomstland</option>
    <option value="ankomststad">Ankomsstad</option>
  </optgroup>
  
       <optgroup>
    <option value="avgangsid">Avgångsid</option>
    <option value="chaufforid">Chaufförid</option>
  </optgroup>
</select>
        </div>

    <div class="col-lg-6">
        
   
    <input type="text"  class="form-control" name="searchWord" placeholder="">
    
    </div>
             
     <div class="col-lg-1">
    
        
         <a id="search-btn" class="btn btn-default btn-block" href="/resor-sok">Nollställ</a>
      
    </div>
       
    <div class="col-lg-1">
    
        
    <input type="submit"  id="search-btn" class="btn btn-primary btn-block" value="Sök"/>
      
    </div>
             
    
        
        </div>
            

           
        </form>  
            
             <div class="col-lg-2">
             <button type="number" class="btn btn-success btn-block"  data-toggle="modal" data-target="#formModal">Köp</button>
                  
             </div>
   
     
  
        </div>
            <div class="row">
            <div class="col-lg-12">
            
               <br/>
          
            
        
        
         <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <strong>Hurra!</strong> Resan är nu bokad <a href="/kop"><strong style="color:#2b542c;">klicka här för att se transaktionsregistret.</strong></a>
         </div>
        
        </div>
                
        </div>
        <div class="row">
            <div class="col-lg-12">
            
           
           
            
        
     </div>
     <div class="col-lg-12"> 
        
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form method="post" action="/kopa">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Köpa resa</h4>
      </div>
      <div class="modal-body">

    <div class="col-lg-4">
  <div class="form-group" >
    <label for="avgangsid">Avgångsid</label>
    <input type="number" class="form-control" name="avgangsid" placeholder="ex 15">
  </div>
      </div>
          
             <div class="col-lg-4">
  <div class="form-group" >
    <label for="koptaplatser">Kund ID</label>
    <input type="number" class="form-control" name="kundid" placeholder="ex 4">
  </div>
      </div>
          
         <div class="col-lg-4">
  <div class="form-group" >
    <label for="koptaplatser">Antal platser</label>
    <input type="number" class="form-control" name="koptaplatser" placeholder="ex 4">
  </div>
      </div>
      
   
      
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
   
            
    
        <input type="submit" class="btn btn-success" value="  Köp  " />
         
      </div>
        </form>
    </div>
  </div>
</div>
    </div>    
        </div>
        
       

       

        <div class="row">

  
            
 <h2>Resultat</h2>
  {% block content %}         
  <table class="table tablesorter" id="myTable" >
    <thead>
      <tr>
        <th>Avgångsid<span class="glyphicon glyphicon-chevron-up" style="margin-left:8px;"></span><span class="glyphicon glyphicon-chevron-down"></span></th>
        <th>Avgångsland</th>
        <th>Avgångsstad</th>
        <th>Ankomstland</th>
        <th>Ankomststad</th>
        <th>Avgångsdatum</th>
        <th>Ankomstdatum</th>
        <th>Avgång</th>
        <th>Ankomst</th>
        <th>Pris</th>
        <th>Platser</th>
        <th>Chaufförid</th>
        
        
      </tr>
    </thead>
    <tbody>
      {% for resa in resor %}  
      <tr>
        
        <td>{{resa[0]}}</td>
        <td>{{resa[1]}}</td>
        <td>{{resa[2]}}</td>
        <td>{{resa[3]}}</td>
        <td>{{resa[4]}}</td>
        <td>{{resa[5]}}</td>
        <td>{{resa[6]}}</td>
        <td>{{resa[7]}}</td>
        <td>{{resa[8]}}</td>
        <td>{{resa[9]}}</td>
        <td>{{resa[10]}}</td>
        <td>{{resa[11]}}</td>
        
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}       
 </div>
    


    
 </div> 

    
    
  
   
    <!-- jQuery Version 1.11.1 -->
   
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
   
    <!-- Bootstrap Core JavaScript -->
   
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    
     <script src="{{url_for('static', filename='js/jquery.tablesorter.js')}}"></script> 
     <script src="{{url_for('static', filename='js/script.js')}}"></script>
       
</body>

       
</html>